.category-container {
    display: flex;
   

    
}


.categories {
    max-height: 80px;
    margin-left: 20px;

}
.category-container {

    
}
.categoryList {
    background-image: linear-gradient(to bottom, #351f6b29, #3f2368e3, #472765, #4d2c62, #523160, #673a65, #7b446a, #8d4f6e, #b36474, #d47d77, #ee9b79, #ffbe7e);
    position: absolute;
    padding-top: 30px;
    z-index: 5;
    width: 100vw;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 800px;

}