@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}


.categoryList {
    background: rgb(50,28,105);
    background: linear-gradient(180deg, rgba(50,28,105,0.9108018207282913) 0%, rgba(87,56,93,1) 19%, rgba(166,82,100,1) 49%, rgba(236,114,99,1) 69%, rgba(255,190,126,1) 100%);
    width: 100vw;
    position: absolute;
    z-index: 5;
    margin-top: 47.5%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: space-between;


}

.category-container {
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.categories-img {
    border: solid rgba(255, 208, 0, 0.692);
    border-radius: 50% ;
    height: 100px;
    width: 100px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffbe7e;
}

.category-container:hover .overlay {
    opacity: 0.9;
    border-radius: 50%;
    height: 110px;
    width: 110px;
} 
.category-text {
    color: #57385d;
    font-size: 16px;
    font-family: 'Inter var';
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.categories-component{
    margin-top: 155px;
    width: 80vw;
    height: 100vh;
}

.categoryItem {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    float: left;
    width: 300px;
    padding: 10px;
    height: 500px;
    margin-top: 20px;
    margin-left: 44px;
}
#main-img {
    position: relative;
    z-index: 1;
    width: 260px;
    height: 250px;
    top: 100px;
    left: 20px;
}

.price {
    position: relative;
    z-index: 3;
    top: 0px;
    font-family: 'Inter var';
    font-size: 100px;
    font-style: bold;
    font-weight: 700;
    letter-spacing: -5px;
    color:black;
}
.navigation {
    background: #a65264;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.cat-options h4 {
    position: relative;
    z-index: 1;
    top: -30px;
    color: white;
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}