.item-box {
    display: flex;
    justify-content: center;
    border: solid red;
    margin-top: 50px;
}


#item-main-img {
    max-block-size: 50px;
}

.item-options {
    display: flex; 
    border: solid white;
}

.shopping-cart {
    border: solid white;
}

.item-container {
    border: solid white;
}