@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}



.landingPage {
    position: relative;
    z-index: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.hero {
    height: 40vh;

    
}


.nav {
    margin-top: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 6;
    width: 80vw;

.right-nav {
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    left: 1280px;

}
    
}
.title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 40vh;
    margin-top: 245px;
    left: 160px;
    position: absolute;
    z-index: 3;
}

.title h1 {
display: flex;
align-items: center;
color: white;
font-family: 'Inter var';
font-weight: 900;
font-style:normal;
font-size: 86px;
letter-spacing: 26px;
line-height: 115px;
width: 60vw;
height: 285px;
top: 300px;

}

.knockout-text {
    h1 {
        background: url('./fill.png');
        background-position: center bottom 36% ;
        background-clip: text;
        color: transparent;
    }
}

.title .fill {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
}

.title h3 {
transform: rotate(-90deg);
font-family: 'Inter';
font-style: Medium;
font-weight: 300;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 3.67px;
text-decoration: line-through;
top: 270px;
left: 169px;
width: 200px;
height: 18px;
}
.learn {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index:4;
    top: 600px;
    left: 390px;
    text-decoration: none;
}
.learn h4 {
font-family: 'Inter';
font-style: Medium;
font-weight: 200;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 2.72px;

}
button.register {
    background: url('http://www.w3.org/2000/svg') no-repeat top right;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    max-height: 40px;
}
.sunset {

    position: fixed;
    z-index: 1;
    width: 100vw;
    
}
.mountain {
position: absolute;
z-index: 2;
width: 100vw;
top: 220px;

}


@media only screen and (max-width: 1550px) {
    .mountain {
        top: 165px;
    }
    .title {
        display: flex;
        align-items: center;
        margin-top: 170px;
        margin-left: -115px;
    }
    .title h1 {
        font-size: 65px;
        letter-spacing: 15px;
        line-height: 96px;
        font-weight: 1000;
        margin-top: 20px;
    }
    .title h3 {
        font-size: 15px;
        margin-top: -20px;
    }
    .learn h4 {
        font-size: 12px;
        margin-top: -100px;
        margin-left: -60px;
    }
    .categoryList {
        background-image: linear-gradient(to bottom, #351f6b29, #3f2368e3, #472765, #4d2c62, #523160, #673a65, #7b446a, #8d4f6e, #b36474, #d47d77, #ee9b79, #ffbe7e);
        position: absolute;
        z-index: 2;
        top: 640px;
        overflow: scroll;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        position: fixed;
        z-index: 6;
        margin-left: 155px;
        width: 75vw;
    }
}
