.stripe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 35%;
    width: 400px;
}
.stripe h1 {
    font-family: 'Inter';
    font-style: black;
    font-weight: bold;
}